<header>
    <nav>
        <a href="/">
            <img src="/img/pikachu.png" alt="Pikachu" width="50px">
        </a>
        <a href="/pokemons">
            Pokémon's
        </a>
    </nav>
</header>
